.button {
  font-size: $default-font-size;
  font-family: "Poppins", "sans serif";
  padding: 1.2rem;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
  color: #fff;

  &--purple {
    background-color: $color-primary;
  }
  &--green {
    background-color: $color-secondary;
  }
}
.button-group {
  @include respond(sm-phone) {
    text-align: center;
  }
  @include respond(tab-land) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  & .button {
    @include respond(sm-phone) {
      margin: 0.3rem 1rem !important;
    }
  }
}
