.carousel-indicators {
  right: unset;
  bottom: -6rem;
  margin: 0;

  @include respond(big-desktop) {
    right: 0;
  }

  & li {
    box-sizing: border-box;
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #e8e8eb;

    &.active {
      background: $color-primary;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
