.feature {
  padding: 3rem;
  background: $color-white;
  margin-top: 3rem;
  border-radius: 20px;
  border: 1px solid #F2F2F3;

  & .icon{
    margin-bottom: 3rem;
  }
  @include respond(tab-port){
    text-align: center;
  }
}
.feature__title {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: $color-grey-dark-3;
  font-weight: 600;
}
.feature__text {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-grey-dark-1;
}
