.icon {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;

  @include respond(tab-port) {
    margin: auto;
  }

  &--orange {
    background: rgba($color: #fd9b9b, $alpha: 0.3);

    & .las {
      color: #fd9b9b;
      font-size: 3.4rem;
    }
  }
  &--purple {
    background: rgba($color: #b06bf1, $alpha: 0.3);

    & .las {
      color: #b06bf1;
      font-size: 3.4rem;
    }
  }
  &--blue {
    background: rgba($color: #45ccdb, $alpha: 0.3);

    & .las {
      color: #45ccdb;
      font-size: 3.4rem;
    }
  }
  &--purple-1 {
    background: rgba($color: #545cf0, $alpha: 0.3);

    & .las {
      color: #545cf0;
      font-size: 3.4rem;
    }
  }
  &--pink {
    background: rgba($color: #f16bac, $alpha: 0.3);

    & .las {
      color: #f16bac;
      font-size: 3.4rem;
    }
  }
  &--green {
    background: rgba($color: #48de57, $alpha: 0.3);

    & .las {
      color: #48de57;
      font-size: 3.4rem;
    }
  }
}

.quote__icon {
  width: 9.2rem;
  height: 9.2rem;
  border-radius: 50%;
  background: #fdf1e7;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;

  &::after {
    content: "\f10e";
    display: inline-block;
    position: absolute;
    font-size: 10rem;
    color: $color-primary;
    top: 0;
    left: 3.2rem;
    font-family: "Line Awesome Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}
