.post-container {
  margin-top: 3.5rem;
}
.post {
  display: block;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px #eee;
  margin-bottom: 3rem;
  background: $color-white;

  &__image {
    width: 100%;
    height: auto;
  }

  &__des {
    position: relative;
    padding: 1.3rem 0 1.2rem 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    color: #2e2a41;
    font-weight: 500;
  }

  &__sub-title {
    font-size: 1.2rem;
    color: #7e7fa0;
  }
}
.post__category {
  position: absolute;
  left: 0;
  top: -1.9rem;
  width: 7.5rem;
  height: 2.6rem;
  background: $color-primary;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 1.9rem solid transparent;
    border-right: 1.4rem solid $color-primary;
    border-left: 0 solid transparent;
    position: absolute;
    transform: rotate(180deg);
    right: -1.4rem;
    top: 0;
  }
  &::after {
    border-right: 1.4rem solid rgba($color: #000000, $alpha: 0.3);
  }
}
