.quote {
    &__text {
      line-height: 2.8rem;
      color: $color-grey-dark-1;
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }
    &__author {
      font-size: 1.4rem;
      margin-left: 3rem;
      position: relative;
      font-weight: bold;
      color: $color-grey-dark-3;
  
      &::before {
        content: "";
        width: 20px;
        border-top: 1px solid #d8d8d8;
        display: block;
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
      }
    }
  }
  