.section-tool {
  margin: 8rem 0;
  & .container {
    padding: 0;
  }
}
.section-feature {
  padding: 8rem 0 9rem;
  margin: 0 1rem;
  // background: $color-tertiary;
  // border-radius: 40px;
}
.section-post {
  margin: 7.7rem 0 11.5rem 0;
}
