.testimonial__content {
  padding: 4rem 0 8rem 0;
  position: relative;
  margin-top: 7rem;

  & .background {
    top: -2.5rem;
  }
}

.testimonial__banner {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 15px #eee;
}
