$color-primary: #616ae8;
$color-primary-dark: #393f96;

$color-secondary: #20e5a7;

$color-tertiary: #fcf3ec;

$color-blue-light: #f0f9fe;

$color-grey-dark-1: #7e7fa0;
$color-grey-dark-2: #4f4b65;
$color-grey-dark-3: #2e2a41;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$Poppins-bold: "Poppins-Bold", sans-serif;
