$color-primary: #616ae8;
$color-primary-dark: #393F96;


$color-secondary: #20E5A7;

$color-tertiary: #FCF3EC;

$color-blue-light: #F0F9FE;

$color-grey-dark-1: #7E7FA0;
$color-grey-dark-2: #4F4B65;
$color-grey-dark-3: #2E2A41;

$color-white: #fff;
$color-black: #000;

