* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #7e7fa0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #fff; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 1200px) {
  .container {
    max-width: 120rem; } }

@media (min-width: 1300px) {
  .container {
    max-width: 130rem; } }

.p-0 {
  padding: 0; }

.mt-small {
  margin-top: 3.5rem; }

.text-primary {
  color: #616ae8 !important; }

.aspect-ratio {
  position: relative;
  padding-top: 56.2%; }
  .aspect-ratio img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.section {
  position: relative; }

.section-tool {
  padding: 8rem 0;
  position: relative; }
  @media only screen and (min-width: 991.98px) {
    .section-tool .container {
      padding: 0; } }

.section-feature {
  padding: 8rem 0 9rem; }

.section-post {
  padding: 7.7rem 0 11.5rem 0; }

.background {
  position: relative; }
  .background--half {
    content: "";
    width: 50vw;
    height: 100%;
    display: block;
    background: #f0f9fe;
    position: absolute;
    top: 0;
    left: -16rem;
    z-index: -1;
    border-radius: 0 40px 40px 0; }
    @media only screen and (max-width: 1199.98px) {
      .background--half {
        width: 100%;
        left: 0;
        border-radius: 20px; } }
  .background--full-orange {
    content: "";
    display: block;
    padding: 8rem 0 9rem;
    background: #fcf3ec;
    border-radius: 40px;
    position: absolute;
    right: 15px;
    left: 15px;
    top: 0;
    bottom: 0;
    z-index: -1; }
    @media only screen and (max-width: 991.98px) {
      .background--full-orange {
        right: 0;
        left: 0; } }

.button {
  font-size: 1.6rem;
  font-family: "Poppins", "sans serif";
  padding: 1.2rem;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
  color: #fff; }
  .button--purple {
    background-color: #616ae8; }
  .button--green {
    background-color: #20e5a7; }

.button-group {
  font-size: 0; }
  @media only screen and (max-width: 500px) {
    .button-group {
      text-align: center; } }
  @media only screen and (max-width: 991.98px) {
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: center; } }
  @media only screen and (max-width: 500px) {
    .button-group .button {
      margin: 0.3rem 1rem !important; } }

.icon {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative; }
  @media only screen and (max-width: 767.98px) {
    .icon {
      margin: auto; } }
  .icon--orange {
    background: rgba(253, 155, 155, 0.3); }
    .icon--orange .las {
      color: #fd9b9b;
      font-size: 3.4rem; }
  .icon--purple {
    background: rgba(176, 107, 241, 0.3); }
    .icon--purple .las {
      color: #b06bf1;
      font-size: 3.4rem; }
  .icon--blue {
    background: rgba(69, 204, 219, 0.3); }
    .icon--blue .las {
      color: #45ccdb;
      font-size: 3.4rem; }
  .icon--purple-1 {
    background: rgba(84, 92, 240, 0.3); }
    .icon--purple-1 .las {
      color: #545cf0;
      font-size: 3.4rem; }
  .icon--pink {
    background: rgba(241, 107, 172, 0.3); }
    .icon--pink .las {
      color: #f16bac;
      font-size: 3.4rem; }
  .icon--green {
    background: rgba(72, 222, 87, 0.3); }
    .icon--green .las {
      color: #48de57;
      font-size: 3.4rem; }

.quote__icon {
  width: 9.2rem;
  height: 9.2rem;
  border-radius: 50%;
  background: #fdf1e7;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem; }
  .quote__icon::after {
    content: "\f10e";
    display: inline-block;
    position: absolute;
    font-size: 10rem;
    color: #616ae8;
    top: 0;
    left: 3.2rem;
    font-family: "Line Awesome Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; }

.heading {
  text-align: center;
  margin: 0 auto;
  max-width: 62rem;
  padding: 0 4rem; }
  .heading--title {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #2e2a41;
    font-weight: bold; }
  .heading--text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #7e7fa0; }

.tool__title {
  font-size: 2rem;
  position: relative;
  color: #2e2a41;
  margin-bottom: 2.9rem;
  font-weight: 600; }
  .tool__title::before {
    content: "";
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    top: -3rem;
    left: -3.6rem;
    z-index: -1; }
  .tool__title--orange::before {
    background: #fbe9e9; }
  .tool__title--blue::before {
    background: #e7faf9; }
  .tool__title--pink::before {
    background: #f5ecfd; }
  .tool__title--purple::before {
    background: #e7effb; }

.tool__text {
  font-size: 1.5rem;
  color: #7e7fa0;
  line-height: 2.6rem; }

.testimonial__content {
  padding: 4rem 0 8rem 0;
  position: relative;
  margin-top: 7rem; }
  .testimonial__content .background {
    top: -2.5rem; }

.testimonial__banner {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 15px #eee; }

.quote__text {
  line-height: 2.8rem;
  color: #7e7fa0;
  margin-bottom: 3rem;
  font-size: 1.6rem; }

.quote__author {
  font-size: 1.4rem;
  margin-left: 3rem;
  position: relative;
  font-weight: bold;
  color: #2e2a41; }
  .quote__author::before {
    content: "";
    width: 20px;
    border-top: 1px solid #d8d8d8;
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%); }

.carousel-indicators {
  right: unset;
  bottom: -6rem;
  margin: 0;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1199.98px) {
    .carousel-indicators {
      right: 0; } }
  @media only screen and (max-width: 1199.98px) {
    .carousel-indicators {
      bottom: -3rem; } }
  .carousel-indicators li {
    box-sizing: border-box;
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #e8e8eb; }
    .carousel-indicators li.active {
      background: #616ae8;
      width: 1.6rem;
      height: 1.6rem; }

.feature {
  padding: 3rem;
  background: #fff;
  margin-top: 3rem;
  border-radius: 20px;
  border: 1px solid #F2F2F3; }
  @media only screen and (max-width: 767.98px) {
    .feature {
      text-align: center; } }

.feature__icon::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.4rem;
  font-family: "Line Awesome Free";
  font-weight: 900; }

.feature__title {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  color: #2e2a41;
  font-weight: 600; }

.feature__text {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #7e7fa0; }

.post-container {
  margin-top: 3.5rem; }

.post {
  display: block;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px #eee;
  margin-bottom: 3rem;
  background: #fff; }
  .post__image {
    width: 100%;
    height: auto; }
  .post__des {
    position: relative;
    padding: 1.3rem 0 1.2rem 1.5rem; }
  .post__title {
    font-size: 1.5rem;
    color: #2e2a41;
    font-weight: 500; }
  .post__sub-title {
    font-size: 1.2rem;
    color: #7e7fa0; }

.post__category {
  position: absolute;
  left: 0;
  top: -1.9rem;
  width: 7.5rem;
  height: 2.6rem;
  background: #616ae8;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500; }
  .post__category::before, .post__category::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 1.9rem solid transparent;
    border-right: 1.4rem solid #616ae8;
    border-left: 0 solid transparent;
    position: absolute;
    transform: rotate(180deg);
    right: -1.4rem;
    top: 0; }
  .post__category::after {
    border-right: 1.4rem solid rgba(0, 0, 0, 0.3); }

.header {
  padding: 3.2rem 0; }
  .header__nav {
    margin-right: 2rem; }
    @media only screen and (max-width: 991.98px) {
      .header__nav {
        margin: 1rem 0; } }
  .header__logo {
    width: 12.7rem;
    height: auto;
    display: inline-block; }
    .header__logo img {
      width: 100%;
      height: auto; }
  .header .button-group .button--purple {
    margin-right: 1.5rem; }

@media only screen and (max-width: 991.98px) {
  .header__right {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    font-size: 4rem;
    transition: all 0.5s;
    z-index: 1000;
    background: rgba(97, 106, 232, 0.7);
    overflow-y: scroll; }
    .header__right.active {
      right: 0; } }

.header__nav > ul {
  display: flex; }
  @media only screen and (max-width: 991.98px) {
    .header__nav > ul {
      flex-direction: column;
      width: 100%; } }

.header__nav > ul > li:not(.has-mega-menu) {
  position: relative; }

.header__nav > ul > li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  height: auto; }

.header__nav > ul > li:hover .mega-menu {
  visibility: visible;
  opacity: 1; }

@media only screen and (max-width: 991.98px) {
  .header__nav > ul > li {
    margin-right: 0 !important;
    text-align: center; } }

.header__nav > ul > li:last-child {
  margin-right: 0;
  cursor: pointer; }

.header__nav > ul > li > a {
  color: #4f4b65;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  display: inline-block; }
  @media only screen and (max-width: 991.98px) {
    .header__nav > ul > li > a {
      flex-direction: column;
      color: #fff; } }

.sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1000;
  background: #616ae8; }
  @media only screen and (max-width: 991.98px) {
    .sub-menu {
      position: relative;
      visibility: hidden;
      opacity: 0;
      height: 0; } }
  .sub-menu > li {
    border-bottom: 1px solid #fff;
    position: relative;
    width: 17rem; }
    @media only screen and (max-width: 991.98px) {
      .sub-menu > li {
        padding: 1rem;
        width: auto; } }
    .sub-menu > li > a {
      color: #fff;
      font-size: 1.5rem;
      display: block;
      padding: 1rem 0 1rem 1rem; }
    .sub-menu > li:hover .sub-menu-1 {
      visibility: visible;
      opacity: 1; }

.sub-menu-1 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -0.1rem;
  transition: all 0.3s;
  background: #616ae8;
  width: 100%;
  right: -100%;
  border: 1px solid #fff; }
  @media only screen and (max-width: 991.98px) {
    .sub-menu-1 {
      display: none; } }
  .sub-menu-1 > li {
    border-bottom: 1px solid #fff;
    width: 17rem; }
    .sub-menu-1 > li > a {
      color: #fff;
      font-size: 1.5rem;
      display: block;
      padding: 1rem 0 1rem 1rem; }

.mega-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 0; }
  .mega-menu__wrap {
    background: #e9ecef;
    border-radius: 10px;
    display: flex; }
  .mega-menu__sidebar {
    width: 20%;
    padding: 1.5rem; }
    .mega-menu__sidebar ul li {
      font-size: 1.5rem;
      border-bottom: 1px solid #7e7fa0;
      text-transform: capitalize;
      padding: 0.5rem;
      cursor: pointer; }
  .mega-menu__content-list {
    width: 80%; }
  .mega-menu__content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; }
    .mega-menu__content > * {
      margin: 1rem; }

.nav-bar {
  display: none;
  font-size: 3rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  color: #616ae8; }
  @media only screen and (max-width: 991.98px) {
    .nav-bar {
      display: block; }
      .nav-bar.de-active .la-bars {
        display: none; } }

.nav-bar--close {
  position: fixed;
  top: 1rem;
  right: 3rem;
  display: none;
  color: #fff;
  font-size: 3rem;
  z-index: 2000; }
  .nav-bar--close.active {
    display: block; }
