.header {
  padding: 3.2rem 0;

  &__nav {
    margin-right: 2rem;

    @include respond(tab-land) {
      margin: 1rem 0;
    }
  }

  &__logo {
    width: 12.7rem;
    height: auto;
    display: inline-block;

    & img {
      width: 100%;
      height: auto;
    }
  }
  & .button-group .button--purple {
    margin-right: 1.5rem;
  }
}
.header__right {
  @include respond(tab-land) {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    font-size: 4rem;
    transition: all 0.5s;
    z-index: 1000;
    background: rgba($color: $color-primary, $alpha: 0.7);
    overflow-y: scroll;

    &.active {
      right: 0;
    }
  }
}
.header__nav > ul {
  display: flex;

  @include respond(tab-land) {
    flex-direction: column;
    width: 100%;
  }
}
.header__nav > ul > li:not(.has-mega-menu) {
  position: relative;
}
.header__nav > ul > li {
  &:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  &:hover .mega-menu {
    visibility: visible;
    opacity: 1;
  }

  @include respond(tab-land) {
    margin-right: 0 !important;
    text-align: center;
  }
}

.header__nav > ul > li:last-child {
  margin-right: 0;
  cursor: pointer;
}

.header__nav > ul > li > a {
  color: #4f4b65;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  display: inline-block;

  @include respond(tab-land) {
    flex-direction: column;
    color: $color-white;
  }
}
.sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1000;
  background: #616ae8;

  @include respond(tab-land) {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  & > li {
    border-bottom: 1px solid #fff;
    position: relative;
    width: 17rem;

    @include respond(tab-land) {
      padding: 1rem;
      width: auto;
    }

    & > a {
      color: #fff;
      font-size: 1.5rem;
      display: block;
      padding: 1rem 0 1rem 1rem;
    }

    &:hover .sub-menu-1 {
      visibility: visible;
      opacity: 1;
    }
  }
}
.sub-menu-1 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -0.1rem;
  transition: all 0.3s;
  background: #616ae8;
  width: 100%;
  right: -100%;
  border: 1px solid $color-white;

  @include respond(tab-land) {
    display: none;
  }

  & > li {
    border-bottom: 1px solid #fff;
    width: 17rem;

    & > a {
      color: #fff;
      font-size: 1.5rem;
      display: block;
      padding: 1rem 0 1rem 1rem;
    }
  }
}
.mega-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 0;

  &__wrap {
    background: #e9ecef;
    border-radius: 10px;
    display: flex;
  }
  &__sidebar {
    width: 20%;
    padding: 1.5rem;

    & ul {
      & li {
        font-size: 1.5rem;
        border-bottom: 1px solid $color-grey-dark-1;
        text-transform: capitalize;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }

  &__content-list {
    width: 80%;
  }
  &__content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    & > * {
      margin: 1rem;
    }
  }
}
.nav-bar {
  display: none;
  font-size: 3rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  color: $color-primary;

  @include respond(tab-land) {
    display: block;

    &.de-active {
      & .la-bars {
        display: none;
      }
    }
  }
}
.nav-bar--close {
  position: fixed;
  top: 1rem;
  right: 3rem;
  display: none;
  color: #fff;
  font-size: 3rem;
  z-index: 2000;

  &.active {
    display: block;
  }
}
